*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_contenedor{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/12.jpeg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    color: #e6e6e6;
    font-size: 2.7em;
    font-weight: 900;
    text-shadow: -2px -1px 0 #000, 2px -1px 0 #000, -2px 1px 0 #000, 2px 1px 0 #000
}

.des-logo{
    font-size: 1.4em;
    font-weight: 340;
    margin: 20px 0;
}

.numero_telefono{
    color:rgb(247, 247, 247);
    font-size: 9vw;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 10px 0;
}

.boton_wp{
    background-color: #128c7e ;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 1px 1px rgb(21, 21, 21);
}

.boton_wp:hover{
    background-color: #075e54 ;
}

.letra_boton_wp{
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 600;
}

.main_contenedor{
    width: 100%;
    height: 100vh;
    background-color: #f7f2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen{
    width: 50%;
}

.frase_contenedor{
    max-width: 80%;
}

.frase_contenedor p{
    font-size: 20px;
    color: darkcyan;
    font-weight: 300;
}

.servicios_contenedor{
    width: 100%;
    height: 120vh;
    background-color: #abb2b9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s_contenedor{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    width: 400px;
    height: 250px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 4px 5px 5px rgb(105, 103, 103);
}

.frase_contenedor p{
    font-size: 20px;
    color: darkcyan;
    font-weight: 300;
}

.icon{
    font-size: 60px;
}

.footer_contenedor{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(71, 71, 71);
}